* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

  .container{
    max-width: 1170px;
    width: 98%;
    margin: auto;
  }

  .check{
    display: none;
  }

  a{
    text-decoration: none;
  }
  .primary-btn{
    padding: 16px;
    font-family: Mulish;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    line-height: normal;
    border-radius: 8px;
    background: #FF5400;
    
  }
  .navbar-brand{
    padding-left: 5px;
  
  }

  .navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0px;
  }

  .navbar-brand span{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .navbar-brand img{
    width: 48px;
    height: 56px;
    
  }

  .navbar-brand a{
    display: flex;
    align-items: center;
    font-style: normal;
    gap: 11px;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
  }
  .navbar  li{
    list-style: none;
  }
  .navbar  li a{
    color: #131318;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
  }

  .navbar  li a:hover 
{
  color: #FF5400;
}

.banner-content{
  width: 100%;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("Images/Group\ 13\ \(1\)\ \(1\).png");
  height: 500px;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content2{
 
  margin:0px  auto ;
  display: block;
  justify-content: center;
  padding: 100px 0px;
  align-items:center;
}

.title1{
  color: #FFF;
  font-size: 64px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.banner-describe{
  padding: 24px 247px;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
 

}

.banner-option{
  border-radius: 8px;
  background: rgba(231, 225, 225, 0.3);
  margin: 0px 160px;
  padding:16px;
}

.option{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.option input{

  background: #FFF;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  padding-left: 24px;

}

.option select{
  border-radius: 8px;
  background: #FFF;
  width: 174px;
  height: 52px;
  padding:0px 24px;
  

}
#check{
  display: none;
}
.checker{
  display: none;
}

/**main-section**/

.container-background{
  padding: 100px 0px;

}

.Popular-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
 
}

.lelf-content {
  padding-right: 48px;
  padding-bottom: 32px;

}
.Popular-title{
  color: #131318;
  text-align: left;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: 24px;
}
.Popular-describe{
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 24px;
}

.Popular-list{
  display: block;
  align-items: center;
  justify-content: flex-start;
  
}
.Popular-list li{
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 24px;
  
}

.Popula-pic .Popula-photo{
  width: 540px;
  height: 550px;
 
}

.primary-btn-tour{
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 8px;
  background: #FF5400;
  padding: 14px 35px;
  
}

/**Choose Your Destination**/

.Destination{
  padding-bottom: 100px;
  margin: auto;
}
.destination-title{
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: 24px;
}
.destination-describetion{
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
 padding:0px 270px;
 padding-top: 24px;
 padding-bottom: 48px;

}
.destination-contentOne{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:24px;
  
}
.pic1{
  width: 573px;
  height: 300px;

}
.pic2{
  width: 573px;
  height: 300px;

}

.pic3{
  width: 374px;
  height: 286px;


}
.pic4{
  width: 474px;
  height: 286px;



}
.pic5{
  width: 274px;
  height: 286px;
  


}
.pic6{

  width: 473px;
  height: 300px;


}
.pic7{
  width: 673px;
  height: 300px;
}
.posetion{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  z-index: 5;
  position: relative;
  bottom: 175px;
  
}


  /**footer**/
  .footer-section{
    padding:100px 0px;
    background: rgba(19, 19, 24, 0.05);
    
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-logo{
    width: 40px;
    height: 46.673px;
  
  
  }
  .title a{
    font-size: 32px;
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
    
  }
  .footer-title span{
    color: #FF5400;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }
  .footer-describe{
    width: 769px;
    color: #5A5A5D;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
  padding-top: 15px;
  margin: 0px auto;
  }
  .footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px
    
  }
  .footer-list li{
    font-size: 24px;
   
   padding: 0px 16px;
   list-style: none;
   
  }
  .footer-list i{
    color: #131318;
  }
  .footer-copyrught{
    padding-top: 100px;
  }
  .copypaste{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
